
body{
    margin: 0%;
    height: 100vh;
    background:linear-gradient(#03045e,#006494);
       font-family:Arial, Helvetica, sans-serif;
}
.heading{
    font-size: 50px;
    font-weight: 700;
    color: white;
    display: flex;
    justify-content: center;
}

.container{
    height: 300px;
    width: 1200px;
    border-radius: 20px;
    border: none;
    background:linear-gradient(#7712ba,#561db0,#526ce3);
    justify-content: center;
  
}
main{
    display:flex ;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
   

}
/**FD input div**/
.fd{
    display: flex;
    align-items: center;

}
.addfd{
    height: 35px;
    width: 180px;
    background-color: white;
    border-radius: 30px;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-left: 20px;
    display: flex;
    justify-content:space-between;

}
.addamount{
    height: 35px;
    width: 180px;
    background-color: white;
    border-radius: 30px;
    margin-top: 10px;
      margin-left: 50px;
    margin-bottom: 20px;
    padding-left: 20px;
    display: flex;
    justify-content:space-between;

}
.addin{
    height: 35px;
    width: 180px;
    background-color: white;
    border-radius: 30px;
      margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-left: 20px;
    display: flex;
    justify-content: space-around;

}
.addyear{
    height: 35px;
    width: 180px;
    background-color: white;
    border-radius: 30px;
      margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-left: 20px;
    display: flex;
    justify-content: space-around;

}
input{
    border: none;
    outline: none;
    max-width: 100px;
    padding-right: 10px;

}
button{
    border: none;
    border-radius: 30px;
    height: 35px;
    font-size: 16px;
    color: white;
    background-color: grey;
    width: 100px;
    cursor: pointer;
}
span{
    font-size: 20px;
    font-weight: 700;
    color: white;
    
}
/**Lists**/
.addlist{
    display: flex;
    justify-content: space-between;
    max-width: 1080px;

}
ul{
    list-style: circle;
    color: white;
    max-width: 213px;
}
#acclist{
    margin-left: 10px;
}
#amlist{
    margin-left: 150px;
}
#inlist{
    margin-left: 150px;
}
#yearlist{
    margin-left: 150px;
}
#valuelist{
    margin-left: 150px;
}