
body{
    margin: 0%;
    height: 100vh;
    background:linear-gradient(#03045e,#006494);
       font-family:Arial, Helvetica, sans-serif;
}
.heading{
    font-size: 50px;
    font-weight: 700;
    color: white;
    display: flex;
    justify-content: center;
}
/**Mutual fund container**/
.container{
    height: 300px;
    width: 1200px;
    border-radius: 20px;
    border: none;
    background:linear-gradient(#4c8ddc,#32cab3,#20e3ac);
    justify-content: center;
  
}
main{
    display:flex ;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
   

}
.funds{
    justify-content: space-around;
    display: flex;
    align-items: center;
}
.fundvalue{
   margin-top: 0%;
    display: flex;
   
   
}
.addfund{
    margin-top: 15px;
    margin-bottom:20px ;
    height: 35px;
    width: 250px;
    border-radius: 30px;
    border: none;
    display: flex;
    justify-content: space-around;
    background-color: white;
    padding-left: 20px;
     
}
.addvalue{
    margin-top: 15px;
    margin-bottom:20px ;
    height: 35px;
    width: 250px;
    border-radius: 30px;
    border: none;
    display: flex;
    justify-content: space-around;
    background-color: white;
    padding-left: 20px;
     
}
#fundlist{
    margin-left: 20px;
}
#valuelist{
    margin-left: 280px;
}
#navlist{
    margin-left: 280px;
}
#tlist{
    margin-left: 200px; 
    list-style: none;
}
span{
    color: white;
    font-size: 20px;
    font-weight: bold;
}

input{
    border: none;
    font-size: 14px;
    outline: none;
}
button{
    height: 35px;
    width: 100px;
    border-radius: 30px;
    border: none;
    font-size: 14px;
    color: white;
    background-color: grey;
    cursor: pointer;
}
ul{
    list-style:circle;
  

}

/**Total fund value container**/
.total{
    justify-content: center;
    display: flex;
}
.totalcontainer{
    height: 60px;
    width: 700px;
    background:linear-gradient(#4c8ddc,#32cab3,#20e3ac); 
    margin-top: 20px;
    padding-left: 30px;
    border: none;
    border-radius: 20px;      
    display: flex;
    align-items: center;
    color: white;
    font-size: 20px;
    font-weight: 700;

            
}